* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: none;
}
body {
  overscroll-behavior: none;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* overscroll-behavior: none; */
}

.container {
  height: 200vh;
  display: flex;
  flex-direction: column;
  /* overscroll-behavior-y: none; */
}

.screen {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overscroll-behavior-y: none; */
}

.hidden {
  display: none;
}

.title {
  position: relative;
  top: 10%;
  opacity: 0;
  transition: 1s;
  transition-delay: 0.5s;
}

.transition {
  top: 0;
  opacity: 100;
}

@media only screen and (min-width: 1000px) {
  .container {
    height: 100vh;
    flex-direction: row;
  }
}
