:root {
  --color-light-orange: #df5757;
  --color-orange: #b45657;
  --color-dark-orange: #79544e;
  --color-dark: #40434b;
  --color-black: #322d2a;
  --font-header: "Bungee", cursive;
  --font-content: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee", cursive;
  letter-spacing: 1px;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  color: var(--color-light-orange);
  text-decoration: none;
}

button {
  border: none;
  background-color: none;
}
body {
  overscroll-behavior: none;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* overscroll-behavior: none; */
}

.container {
  height: 200vh;
  display: flex;
  flex-direction: column;
  /* overscroll-behavior-y: none; */
}

.screen {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overscroll-behavior-y: none; */
}

.hidden {
  display: none;
}

.title {
  position: relative;
  top: 10%;
  opacity: 0;
  transition: 1s;
  transition-delay: 0.5s;
}

.transition {
  top: 0;
  opacity: 100;
}

.fa {
  color: var(--color-dark);
  border-radius: 5px;
  background-color: white;
  padding: 10px 10px;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.contact-icon {
  color: white;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 4em;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.fa:hover {
  color: var(--color-light-orange);
}

@media only screen and (min-width: 1000px) {
  .container {
    height: 100vh;
    flex-direction: row;
  }
}
