.contact-card-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-orange);
  color: var(--color-dark);
}

.ufo {
  background: url("../../../assets/ufo.png") no-repeat center center;
  background-size: contain;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.contact-card-icons {
  display: flex;
  margin-bottom: 1%;
}

.contact-card-icons a:hover {
  color: var(--color-dark);
}

.contact-card-icons a {
  margin: 10px;
}

.back-to-top h3 {
  margin-bottom: 20%;
  color: var(--color-dark-orange);
}

.back-to-top h3:hover {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .contact-card-container {
    width: 100%;
  }
}
