.work-content {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.blackjack {
  background: url("../../../assets/blackjack.png") no-repeat center center;
  background-size: cover;
}

.paloma {
  background: url("../../../assets/paloma.png") no-repeat center center;
  background-size: cover;
}

.high-noon {
  background: url("../../../assets/highnoon.png") no-repeat center center;
  background-size: cover;
}

.blackjack,
.paloma,
.high-noon {
  height: 100%;
  transition: 0.25s;
}

.description {
  height: 100%;
  width: 100%;
  background-color: rgba(42, 42, 42, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.description-text {
  width: 60%;
}

.description-text h1 {
  color: var(--color-light-orange);
}

.description-text h4 {
  margin-top: 10px;
  color: var(--color-orange);
  letter-spacing: 1px;
}

.description-text p {
  margin-top: 20px;
  color: white;
}

.link-container {
  display: flex;
  /* border: 2px solid red; */
  width: 80%;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1000px) {
  .work-content {
    width: 100%;
  }
}
